<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                	<div class="square">
	                    <span><h1 class="brand-heading">PLATZ</h1>
	                    <div class="sub-heading">
		                    <p class="sub1">COFFEE</p>
		                    <p class="sub2">SPECIAL FOR ORDINARY</p>
	                    </div></span>
	                </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 page-content">
				<%= image_tag 'platz_logo_bg@2x.png', class: 'platz-logo-bg' %>
				<h1 class="page-heading">ROAST &amp; BREW YOUR DAYS SPECIAL</h1>
				<p class="page-text">PLATZ는 광장, 공간, 장소란 의미의 독일어 입니다. 플라츠 커피는 ‘스페셜티 커피’를 매개로 사람들을 연결합니다. 보다 많은 대중들이 다채롭고 새로운 커피 세계와 맛을 알아가며 ‘맛있는 스페셜티 커피 한잔’을 통해 오픈된 공간에서 행복한 이야기를 재 생산해 낼수있기를 원합니다</p>
			</div>
		</div>
	</div>
</section>

<section class="page-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 page-content">
				<h1 class="page-bg-heading">ROASTING</h1>
				<h3 class="page-bg-sub-heading">PHILOSOPHY</h1>
				<div class="text-box">
					<p class="page-bg-text">제 3의 물결 이후 Light roasting (약배전)의 유행에 따라 새로운 커피 문화가 빠르게 확산되고 있음에도 불구하고 여전히 국내에서는 일반 소비자와, 커피인들과의 거리가 존재하고 있습니다. 스페셜티 커피와 문화를 조금 더 쉽고 친숙하게 대중들에게 전달하고자 시그니처 블랜딩은 최대한 단맛과 향미를 이끌어 내어 거부감 없이 스페셜티의 맛을 전달하는데 포인트를 두고 있습니다. 스페셜티 본연의 맛을 유지하고 유행에 너무 민감하게 접근하지 않는 클래식한 블랜딩이 시그니처 블랜드의 특징이며 클래식한 스페셜티 커피의 매력을 보다 많은 대중들에 게 알리고 ‘커피 한잔의 위안’을 전달하는 역할을 하는 것이 플라츠 로스팅의 철학 입니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Single Origin header -->

<section class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 page-content">
				<h1 class="page-bg-heading">SINGLE ORIGIN</h1>
				<h3 class="page-bg-sub-heading">PRODUCT</h1>
				<p class="page-text">싱글 오리진 커피 로스팅은 스페셜티 커피 애호가들을 위해 원두가 갖고 있는 개성들을 충분히 끌어 올리기 위해 로스팅을 하고 있으며 커피의 다채로운 향과 맛을 전달하는데 중점을 두고 있다.</p>
			</div>
		</div>
	</div>
</section>


<!-- Single Origin products -->

<div class="container">
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                            	<div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Kangunu AA
	                                </div>
	                                <div class="project-category">
	                                    Kenya
	                                </div>
	                                <div class="project-desc">
	                                	수확에서 포장에 이르기까지 모든 과정이 매우 세심하게 처리되는 캉구누 커피는 최상의 산미와 클린컵을 위해 두 차례의 발효와 세척을 거친 후 커피의 향미증진을 위해 또 다시 두 단계의 완벽한 건조과정을 거치게 된다. 첫 모금에 부드러운 과일향들이 코를 간지럽히고 복숭아와 자몽의 산미, 묵직한 체리의 느낌은 마치 화이트와인을 마시는 것과 같다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    La Bendicion Pacamara
	                                </div>
	                                <div class="project-category">
	                                    Nicaragua
	                                </div>
	                                <div class="project-desc">
	                                	소나무 숲으로 둘러쌓여 항상 신선한 공기가 풍부한 이곳은 신의 축복을 받은 천혜의 지역으로 라 벤디시온(축복) 이란 이름이 붙게 되었다. 이 커피의 가공처리 방식은 수세식과, 천일건조를 동시에 진행하기 때문에 독특한 풍미를 구현한 것이 특징이다. 라 벤디시온의 파카마라는 2010년에 COE 입상 경력이 있다. 청사과, 살구, 복숭아의 산미가 하모니를 이루고, 묵직한 초콜릿의 단맛은 이 커피의 품위를 보여주고 있다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Limu Natural
	                                </div>
	                                <div class="project-category">
	                                    Ethiopia
	                                </div>
	                                <div class="project-desc">
	                                	내추럴 가공방식에서 느껴지는 농익은 과일의 단맛과 묵직한 바디가 돋보이는 커피로 부케를 연상시키는 화사한 향미가 매력적이다. 오렌지와 블루베리 풍미가 장점인 리무는 농익은 과일의 단맛과 산미를 좋아하는 사람이라면 환호할만한 커피이다. 리무는 에디오피아 남부에 위치해 있으며, 강수량이 적은 건조 지역으로 내추럴 가공방식의 훌륭한 커피를 생산하는 지역이다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Lomi Tasha
	                                </div>
	                                <div class="project-category">
	                                    Ethiopia
	                                </div>
	                                <div class="project-desc">
	                                	세계적인 생두회사 ‘나인티플러스’는 생두평가 커핑점수 90점 이상의 생두를 뜻하는 이름이며, 90점 보다 더 높은 점수를 받기위해 출시한 시리즈가 레벨업이다. 이 시리즈는 커피인들을 사못 설레이가 한다. 싱그러운 꽃향기에 레몬그라스와 같은 향미를 지닌게 정말 커피에서 나올 수 있는지가 놀랍다. 그 뒤 달콤함은 마치 어린시절 캔디를 깨물던 기억을 떠올리게 한다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Verde Alto
	                                </div>
	                                <div class="project-category">
	                                    Costa-Rica
	                                </div>
	                                <div class="project-desc">
	                                	푸른고원이라는 이름답게 산 정상에 위치해 있으며, 미국의 대표적인 스페셜티카페 ‘Stumptown Coffee Roasters’ 역시 이 농장을 선택했다. 다수의 COE 수상 경력이 있는 농장이며, 생두이므로 품질은 이미 보증이 되어있다. 잘 익은 오렌지 한 입 베어물고 난 뒤에 달콤한 흑설탕이 입안에 퍼지는게 신비롭기만 하다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag_single_to_purchase@2x.png', class: 'img-bean-bag img-responsive' %>
                        	<div class="btn-wrap">
		                    	<a href="#" class="btn btn-default btn-lg btn-order-now">Order Now</a>
		                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Single Origin end -->

<!-- Special Blend header -->

<section class="page-bg-sp">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 page-content">
				<h1 class="page-bg-heading">SIGNATURE BLEND</h1>
				<h3 class="page-bg-sub-heading">PRODUCT</h1>
				<div class="text-box">
					<p class="page-bg-text">기본적인 센서리에 집중하여 보다 폭 넓은 연령대의 고객을 수용할 수 있는 에스프레소 블랜딩 입니다. 기본적인 산미와 솔티한 맛이 균형있게 가미되어 밀크 베리에이션에 최적화된 블렌딩 입니다. 절제된 산미와 높은 단 맛의 발현을 통해 스페셜티 커피 전문 커피점으로 어필할 수 있는 PLATZ 대표 블랜딩으로 라떼, 플랫화이트, 카푸치노 등 밀크 음료와 만나 최적화된 맛을 표현합니다. 아메리카노로 이용이 부담없는 산미와 어우러진 단맛의 균형, 깔끔한 애프터로 커피 본연의 맛을 즐길 줄 아는 고객들이 많은 커피 전문 매장에서 활용할 수 있습니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Special Blend products -->

<div class="container">
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag_sp@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                            	<div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Signature 중배전
	                                </div>
	                                <div class="project-category">
	                                    Guatemala, Colombia, Costarica
	                                </div>
	                                <div class="project-desc">
	                                	플라츠의 대표 블렌딩. 기본적인 맛의 균형감이 좋으며 에프터의 고소한 향미는 모든 이를 스페셜티의 매력에 빠져들게 한다. 주거, 금융, 오피스, 쇼핑, 관광지, 대학가 등 다양한 상권에서 품질에서의 특별함으로 미래 경쟁력을 갖추게 해주는 블렌드. 균형감, 복합적 풍미와 달콤한 다크 초콜릿, 후미에 고소한 여운은 스페셜티 커피로써의 매력을 충분히 전달해 줄 수 있다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag_sp@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Heather 약중배전
	                                </div>
	                                <div class="project-category">
	                                    Guatemala, Costarica, Kenya, Ethiopia
	                                </div>
	                                <div class="project-desc">
	                                	쇼핑, 관광지, 대학가 등 트렌드에 민감하고 젊은층들이 주 고객인 상권에서 컨셉화 또는 이슈화 시킬 수 있는 블렌드. 풍부한 과일의 풍미 뒤에 밀크초콜릿의 단맛이 스페셜티 커피 본연의 모습을 알게 해주며 그 맛을 오랫동안 잊지 못할 것이다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag_sp@2x.png', class: 'img-bean-bag img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-wrap">
	                                <div class="project-name">
	                                    Deep Purple 중강배전
	                                </div>
	                                <div class="project-category">
	                                    Guatemala, Colombia
	                                </div>
	                                <div class="project-desc">
	                                	모든 상권에서 탄탄한 기본기로 훌륭한 퍼포먼스를 보여줄 수 있는 블렌드. 스무스한 바디감과 다크초콜릿의 단맛 뒤에 고소하고 쌉쌀한 여운은 원두교체시 단골 고객들에게 크게 호응을 얻을 수 있다.
	                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <%= image_tag 'bean_bag_sp_to_purchase@2x.png', class: 'img-bean-bag img-responsive' %>
                        	<div class="btn-wrap">
		                    	<a href="#" class="btn btn-default btn-lg btn-order-now">Order Now</a>
		                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Special Blend end -->

<!-- Platz shop -->

<header class="shop">
    <div class="shop-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                	<div class="square">
	                    <span><h1 class="brand-heading">PLATZ</h1>
	                    <div class="sub-heading">
		                    <p class="sub1">COFFEE</p>
		                    <p class="sub2">SPECIAL FOR ORDINARY</p>
	                    </div></span>
	                </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Platz shop header -->

<section class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 page-content">
				<h1 class="page-bg-heading">VISIT US</h1>
				<h3 class="page-bg-sub-heading">PLATZ COFFEE</h1>
				<p class="page-text">수원시 영통구 이의동 1202 골드클래스 5 109호</p>
			</div>
		</div>
	</div>
</section>

<!-- Platz map -->

<div class="container">
	<div class="map">
    	<div class="overlay" onClick="style.pointerEvents='none'"></div>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.5760727435954!2d127.04448297813369!3d37.3051798680858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5b7bc233b00d%3A0x731c8e15749d008a!2s715-1+Iui-dong%2C+Yeongtong-gu%2C+Suwon%2C+Gyeonggi-do!5e0!3m2!1sen!2skr!4v1450686529335" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container text-center">
	    <p>platzcoffee@gmail.com | 031.214.0726 | 010.2555.0698</p>
        <p>Copyright &copy; Platz Coffee 2016</p>
    </div>
</footer>